{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'scss/main.css' %}">
    <link rel="stylesheet" href="{%static 'scss/skin.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{%static './script/index.js' %}"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 9075532517</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">gulaveavinash17@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                    <a class="navbar-brand" href="#">
                        <h1>PVP College</h1><span>Pravaranager</span></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li class="active"><a href="#contact">Contact</a></li>
                        {% if user.is_authenticated %}
                            <li> Hello, <span>{{user.first_name}}</span></li>
                            
                             <li><a href="logout">Logout</a></li>
                            {% else %}
                            
                            
                            <li><a href="signin">Sign In</a></li>
                            <li><a href="signup">Sign Up</a></li>
                            
                            {% endif %}</ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <!--/.nav-ends -->
    </header>
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Compus Drive</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Contact</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current">Contact</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>
    <section id="contact-page">
        <div class="container">
        
            <div class="section-heading text-center">
                <h2>Drop your <span>Message</span></h2>
                <p class="subheading">We all need people who will give us feedback. That’s how we improve.</p>
                <p class="subheading">{% for m in messages %}
 <p><font color="green"><h3>{{ m }}</h3></font></p>
{% endfor %} 
       
                        
     </p>
                    </div>
                </div>
            </div>
         
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
               <form action="" method="POST">
				{% csrf_token %}
     			<div class="col-sm-5 col-sm-offset-1">
     			
       
                        <div class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Email *</label>
                            
                            <input type="email" name="email" class="form-control" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        </div>
                        <div class="form-group">
                            <label>Phone *</label>
							<input type="text" name="mobile" class="form-control" pattern="[1-9]{1}[0-9]{9}"> 
                        </div>
                       <div class="form-group">
                            <label>College *</label>
                            <input type="text" name="college" class="form-control" required="required">
                        </div>
                          </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Subject *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Message *</label>
                            <textarea name="feedback"  id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-default submit-button">Submit Message <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="overlay">
            <div class="gmap-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="gmap">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.07595077574!2d74.47234871438435!3d19.581246540985788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcf6eb393e430d%3A0x289be515cef4c7c8!2sPadmashri+Vikhe+Patil+College+of+Arts%2C+Science+and+Commerce%2C+Pravaranagar!5e0!3m2!1sen!2sin!4v1538545250374" height="205" frameborder="0" style="border: 0; width: 100%" allowfullscreen>"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-7 map-content">
                            <ul class="row">
                                <li class="col-sm-6">
                                    <address>
									<h5>Address</h5>
									<p>Padmashri Vikhe Patil College Of Arts Science & Commerce, Pravaranagar <br>
									Tal-Rahata Dist-Ahmednagar,- 413713<br>
									 Maharashtra<br> India. </p>
										<p>Phone:(02422),27342 <br>
									Email Address:pvpcollege@gmail.com</p>
								</address>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Address</h4>
                        <hr/>
                        <p>Padmashri Vikhe Patil College Of Arts Science & Commerce, Pravaranagar Tal-Rahata Dist-Ahmednagar,- 413713 Maharashtra, India.
                        </p>
                        <a href="contact" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Useful Links</h4>
                        <hr/>
                        <ul class="footer-links">
                        	<li><a href="/">Home</a></li>
                            <li><a href="about">About Us</a></li>
                            
                            <li><a href="signin">Sign In</a></li>
                            <li><a href="signup">Sign Up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="contact">Email : pvpcollege@gmail.com</a></li>
                            <li><a href="contact">Tel. : (02422),273425</a></li>
                            <li><a href="contact">Fax : (02422),273426</a></li>
                        </ul>

                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                    <div class="footer-block">
                    
                    <div class="container">
                        <div class="row footer-widgets" style="min-height: -200px;">
         
                        <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="footer-widget twitter-widget">
                                    <h4>Location Map<span class="head-line"></span></h4>

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.07595077574!2d74.47234871438435!3d19.581246540985788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcf6eb393e430d%3A0x289be515cef4c7c8!2sPadmashri+Vikhe+Patil+College+of+Arts%2C+Science+and+Commerce%2C+Pravaranagar!5e0!3m2!1sen!2sin!4v1538545250374" height="205" frameborder="0" style="border: 0; width: 100%" allowfullscreen></iframe>
                                    <br />
                                    <br />
                                    <br />
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">PVP College</a> designed by <a href="#">Avinash Gulave</a>
                </div>
            </div>
        </div>
    </section>


    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div>


</body>
    
</html>